/* Template file: see https://github.com/piroor/treestyletab/blob/trunk/webextensions/sidebar/sidebar.html */

/* Show title of unread tabs with red and italic font */
:root.sidebar tab-item.unread .label-content {
  color: rgb(190, 168, 92) !important;
}

tab-item {
  border: solid 1px #FFFFFF14;
  font-size: 13px;
}

tab-item:not(.pinned)>* {
  padding: 0.3em 0;
}

tab-item:not(.pinned) {
  padding-right: 0.4em;
}

tab-item.pinned>*>* {
  padding: 0 0.3em;
}

tab-item *,
.newtab-button * {
  background: none !important;
  padding: 0;
}

tab-item .label-content {
  margin-left: 4px;
}

tab-item:hover,
.newtab-button-box:hover {
  background: #2B2930 !important;
}

.newtab-button {
  padding: 0.4em 0 !important;
}

tab-item.active {
  background: #2B2930 !important;
}

tab-item:not(.pinned) tab-favicon {
  margin-left: 0.2em;
}

/* Fade-out collapsible-caret ("twisty") and close */

tab-twisty {
  margin-right: -0.1em;
  opacity: 0.3;
}

tab-closebox {
  display: none;
}

tab-item:hover tab-twisty {
  opacity: 1;
}

tab-item:not(.pinned):hover tab-closebox {
  display: unset;
  opacity: 0.2;
}

tab-item tab-closebox:hover {
  display: unset;
  opacity: 1;
}

tab-item tab-closebox:hover::before {
  background: none !important;
}

/* Add private browsing indicator per tab */
/*
:root.sidebar tab-item.private-browsing tab-label:before {
  content: "🕶";
}
*/

#tabbar {
  counter-reset: vtabs atabs tabs;
  /* vtabs tracks visible tabs, atabs tracks active tabs, tabs tracks all tabs */
}

tab-item:not(.collapsed):not(.discarded) {
  counter-increment: vtabs atabs tabs;
}

tab-item:not(.collapsed) {
  counter-increment: vtabs tabs;
}

tab-item:not(.discarded) {
  counter-increment: atabs tabs;
}

tab-item {
  counter-increment: tabs;
}

tab-item .extra-items-container.behind {
  z-index: unset !important;
}

.newtab-button:hover::before,
.newtab-action-selector-anchor::before {
  background: none !important;
}

.newtab-action-selector-anchor {
  padding: 0 1.3em;
  background: #FFFFFF14 !important;
}

.newtab-action-selector-anchor:hover,
.newtab-action-selector-anchor:active {
  background: #FFFFFF28 !important;
}

.newtab-button:hover .extra-items-container::after {
  content: counter(vtabs);
  font-size: x-small;
  pointer-events: none;
  position: absolute;
  left: 2.4em;
  top: 0.9em;

  /* TST 2.4.0 - Fix for Issue #1664 */
  background: transparent !important;
  mask: none !important;
}

tab-item:not(.group-tab):not([data-current-uri^="chrome:"]):not([data-current-uri^="about:addons"]):not([data-current-uri^="about:preferences"]):not(.active):not(:hover) tab-favicon .favicon-default::before {
  opacity: 0.25;
}

tab-favicon {
  opacity: 0.4;
}

tab-item.active tab-favicon,
tab-item:hover tab-favicon {
  opacity: 1;
}
