#tabbrowser-tabs { visibility: collapse !important; }
#sidebar-header { display: none; }

#browser vbox#appcontent tabbrowser, #content, #tabbrowser-tabpanels, 
browser[type=content-primary],browser[type=content] > html {
    background: #1c1b22 !important
}

.sidebar-splitter {
    background: #17171a !important;
    border-color: #393740 !important;
}

#alltabs-button {
    display: none !important;
}
